{% extends "home.html" %}
{% block link %}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='movie.css') }}">
{% endblock %}
{% block content %}
    <div class="movie-grid">
        <div class="cellphone-container">
            <div class="movie">
                <div class="movie-img"
                     style="background-image: url(https://image.tmdb.org/t/p/w500/mXLOHHc1Zeuwsl4xYKjKh2280oL.jpg)">
                </div>
                <div class="text-movie-cont">
                    <div class="mr-grid">
                        <div class="col1">
                            <h1>Blue Beetle</h1>
                            <ul class="movie-gen">
                                <li>PG-13  /</li>
                                <li>2h 49min  /</li>
                                <li>Adventure, Drama, Sci-Fi</li>
                            </ul>
                            <ul class="movie-likes">
                                <li>
                                    <i class="fa fa-star"></i>4.5
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mr-grid action-row">
                    <div class="col2">
                        <div class="watch-btn small">
                            <i class="material-icons details-icon"></i> Details
                        </div>
                    </div>
                    <div class="col2">
                        <div class="watch-btn small">
                            <i class="material-icons add-to-watchlist-icon"></i> Add to Watchlist
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- LINE BREAK -->
        <div class="cellphone-container">
            <div class="movie">
                <div class="movie-img"
                     style="background-image: url(https://image.tmdb.org/t/p/w500/iuFNMS8U5cb6xfzi51Dbkovj7vM.jpg)">
                </div>
                <div class="text-movie-cont">
                    <div class="mr-grid">
                        <div class="col1">
                            <h1>Barbie</h1>
                            <ul class="movie-gen">
                                <li>PG-13  /</li>
                                <li>2h 49min  /</li>
                                <li>Adventure, Drama, Sci-Fi</li>
                            </ul>
                            <ul class="movie-likes">
                                <li>
                                    <i class="fa fa-star"></i>4.5
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mr-grid action-row">
                    <div class="col2">
                        <div class="watch-btn small">
                            <i class="material-icons details-icon"></i> Details
                        </div>
                    </div>
                    <div class="col2">
                        <div class="watch-btn small">
                            <i class="material-icons add-to-watchlist-icon"></i> Add to Watchlist
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- LINE BREAK -->
        <div class="cellphone-container">
            <div class="movie">
                <div class="movie-img"
                     style="background-image: url(https://image.tmdb.org/t/p/w500/51tqzRtKMMZEYUpSYkrUE7v9ehm.jpg)">
                </div>
                <div class="text-movie-cont">
                    <div class="mr-grid">
                        <div class="col1">
                            <h1>Gran Turismo</h1>
                            <ul class="movie-gen">
                                <li>PG-13  /</li>
                                <li>2h 49min  /</li>
                                <li>Adventure, Drama, Sci-Fi</li>
                            </ul>
                            <ul class="movie-likes">
                                <li>
                                    <i class="fa fa-star"></i>4.5
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mr-grid action-row">
                    <div class="col2">
                        <div class="watch-btn small">
                            <i class="material-icons details-icon"></i> Details
                        </div>
                    </div>
                    <div class="col2">
                        <div class="watch-btn small">
                            <i class="material-icons add-to-watchlist-icon"></i> Add to Watchlist
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cellphone-container">
            <div class="movie">
                <div class="movie-img"
                     style="background-image: url(https://image.tmdb.org/t/p/w500/ehGIDAMaYy6Eg0o8ga0oqflDjqW.jpg)">
                </div>
                <div class="text-movie-cont">
                    <div class="mr-grid">
                        <div class="col1">
                            <h1>No One Will Save You</h1>
                            <ul class="movie-gen">
                                <li>PG-13  /</li>
                                <li>2h 49min  /</li>
                                <li>Adventure, Drama, Sci-Fi</li>
                            </ul>
                            <ul class="movie-likes">
                                <li>
                                    <i class="fa fa-star"></i>4.5
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mr-grid action-row">
                    <div class="col2">
                        <div class="watch-btn small">
                            <i class="material-icons details-icon"></i> Details
                        </div>
                    </div>
                    <div class="col2">
                        <div class="watch-btn small">
                            <i class="material-icons add-to-watchlist-icon"></i> Add to Watchlist
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- LINE BREAK -->
        <div class="cellphone-container">
            <div class="movie">
                <div class="movie-img"
                     style="background-image: url(https://image.tmdb.org/t/p/w500/kdPMUMJzyYAc4roD52qavX0nLIC.jpg)">
                </div>
                <div class="text-movie-cont">
                    <div class="mr-grid">
                        <div class="col1">
                            <h1>Talk to Me</h1>
                            <ul class="movie-gen">
                                <li>PG-13  /</li>
                                <li>2h 49min  /</li>
                                <li>Adventure, Drama, Sci-Fi</li>
                            </ul>
                            <ul class="movie-likes">
                                <li>
                                    <i class="fa fa-star"></i>4.5
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mr-grid action-row">
                    <div class="col2">
                        <div class="watch-btn small">
                            <i class="material-icons details-icon"></i> Details
                        </div>
                    </div>
                    <div class="col2">
                        <div class="watch-btn small">
                            <i class="material-icons add-to-watchlist-icon"></i> Add to Watchlist
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- LINE BREAK -->
        <div class="cellphone-container">
            <div class="movie">
                <div class="movie-img"
                     style="background-image: url(https://image.tmdb.org/t/p/w500/ueO9MYIOHO7M1PiMUeX74uf8fB9.jpg)">
                </div>
                <div class="text-movie-cont">
                    <div class="mr-grid">
                        <div class="col1">
                            <h1>Teenage Mutant Ninja Turt...</h1>
                            <ul class="movie-gen">
                                <li>PG-13  /</li>
                                <li>2h 49min  /</li>
                                <li>Adventure, Drama, Sci-Fi</li>
                            </ul>
                            <ul class="movie-likes">
                                <li>
                                    <i class="fa fa-star"></i>4.5
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mr-grid action-row">
                    <div class="col2">
                        <div class="watch-btn small">
                            <i class="material-icons details-icon"></i> Details
                        </div>
                    </div>
                    <div class="col2">
                        <div class="watch-btn small">
                            <i class="material-icons add-to-watchlist-icon"></i> Add to Watchlist
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- LINE BREAK -->
    </div>
</div>
{% endblock %}
